:root {
  --cl-green: #daedbd;
  --cl-dark-green: #009879;
  --cl-grey: #d2d0d0;
  --cl-light-grey: #999;
  --gap: 1em;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
button {
  padding: 0.5em;
  font-size: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--cl-green);
  border: 1px solid #999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

i {
  pointer-events: none;
}

/*
* === Utilities ===
*/

.flex {
  display: flex;
}

.grid-container {
  display: grid;
  gap: var(--grid-gap, 2em);
}

.flow {
  gap: var(--flow-gap, 1em);
}

.hide {
  display: none;
}

.container {
  padding: var(--gap, 1em);
  border: 1px solid var(--cl-light-grey);
}

.container--rounded-corner {
  border-radius: 10px;
}

.expense-action > button {
  background: none;
  border: none;
  padding: 0;
  font-size: 25px;
}

.expense-action > button:hover,
.expense-action > button:focus {
  color: var(--cl-dark-green);
}

/*
* === General ===
*/
main {
  padding-inline: 1em;
  padding-bottom: 3.5em;
}

@media only screen and (min-width: 600px) {
  main {
    padding-inline: clamp(2em, 2vw + 1em, 10em);
  }
}

/*
* — Navigation —
*/

.primary-nav {
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--cl-green);
  margin-bottom: 2em;
}

/*
* — Form —
*/

form {
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  text-transform: capitalize;
  border: 1px solid var(--cl-light-grey);
  border-radius: 2px;
  padding: 2em;
}

/*
* === Expense Table ===
*/

.expenses-container {
  max-height: 318px;
  overflow-y: scroll;
}

#desktop-table {
  display: none;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.container header,
table caption {
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.75em;
  text-transform: capitalize;
}

th {
  background-color: var(--cl-dark-green);
  color: #fff;
  width: 20%;
}

tbody tr {
  background: #fff;
  border-bottom: 1px solid #bbb;
}

th,
td {
  text-align: left;
  padding: 0.5em 0.75em;
  border: 1px solid var(--cl-grey);
}

@media only screen and (min-width: 1240px) {
  #mobile-table {
    display: none;
  }

  #desktop-table {
    display: block;
  }

  table caption {
    font-size: 1.35rem;
  }

  tbody tr:nth-of-type(even) {
    background-color: var(--cl-grey);
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid var(--cl-dark-green);
  }
}

/*
* === Home Page ===
*/
@media only screen and (min-width: 600px) {
  .grid-container--expense-showcase {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media only screen and (min-width: 1240px) {
  .grid-container--expense-showcase {
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  }
}

/*
* === Dashboard Page ===
*/
.expenses-container--dashboard {
  max-height: fit-content;
  overflow-y: initial;
}